ul {
  list-style: none;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
li a {
  font-size: 20px;
}
li {
  width: 100%;
}
img {
  width: 100%;
}
.col-md-3 {
  width: 100% !important;
}
@media (min-width: 1200px) {
  .container{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (max-width: 1000px) {

}
.navbar {
  background-color: #032541;
  height: 8vh;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: unset;
}
@media (max-width: 800px) {
  .navbar {
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: unset;
  }
}


