<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand main shrinkable" href="/"> NEWS ROOM</a>
      </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <a class="navbar-brand shrinkable" href="">Sports</a>
        <a class="navbar-brand shrinkable" href="">Technology</a>
        <a class="navbar-brand shrinkable" href="">Business</a>
        <a class="navbar-brand shrinkable" href="">Entertainment</a>
      </div>
    </div>
  </div>